{#
@package tawk.to Integration
@author tawk.to
@copyright (C) 2024 tawk.to
@license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}
{{ header }}
<link href="https://plugins.tawk.to/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">&nbsp;</div>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}

		<div class="box">
			<div class="heading">
				<h1><img src="../extension/tawkto/admin/view/image/module/tawky.png" alt="" /> {{ heading_title }}</h1>
			</div>

			<label for="store_id" class="storeids-label">Select Store</label>
			<select name="store_id" class="storeids">
				{% for store in hierarchy %}
				<option value="{{ store.id }}">{{ store.name }}</option>
				{% endfor %}
			</select>

			<div id="box">
				<div id="widget_already_set" class="alert alert-warning" style="display:none">Notice: Widget already set by other user</div>
			</div>
			<div class="content" style="position: relative;">
				<div id="loader">
					<img src="../extension/tawkto/admin/view/image/module/loader.gif" alt="" />
				</div>

				<iframe id="tawkIframe" src=""></iframe>
			</div>
		</div>
		<div class="box visibility_block">
			<div class="row">
				<div class="col-lg-10">
					<form id="module_form" class="form-horizontal" action="" method="post">
						<div class="col-lg-12">
							<div class="panel-heading"><strong>Visibility Settings</strong></div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="always_display" class="col-xs-6 control-label">Always show Tawk.To widget on
								every page</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6" name="always_display"
									id="always_display" value="1"
									{{(hierarchy[0].display_opts.always_display)?'checked':''}} />
							</div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="hide_oncustom" class="col-sm-6 control-label">Except on pages:</label>
							<div class="col-sm-6 control-label">
								{% if hierarchy[0].display_opts.hide_oncustom is empty %}
								<textarea class="form-control hide_specific" name="hide_oncustom" id="hide_oncustom"
									cols="30" rows="10"></textarea>
								{% else %}
								<textarea class="form-control hide_specific" name="hide_oncustom" id="hide_oncustom"
									cols="30"
									rows="10">{% for page in hierarchy[0].display_opts.hide_oncustom %}{{page ~ '\r\n'}}{% endfor %}</textarea>
								{% endif %}
								<br>
								<div class="justify">
									Add URLs/paths to pages in which you would like to hide the widget. ( if "always
									show" is checked )<br>
									Put each URL/path in a new line. Paths should have a leading '/'.
									<br>
									<div class="tawk-tooltip">
										Examples of accepted path patterns
										<ul class="tawk-tooltiptext">
											<li>*</li>
											<li>*/to/somewhere</li>
											<li>/*/to/somewhere</li>
											<li>/path/*/somewhere</li>
											<li>/path/*/lead/*/somewhere</li>
											<li>/path/*/*/somewhere</li>
											<li>/path/to/*</li>
											<li>/path/to/*/</li>
											<li>*/to/*/page</li>
											<li>/*/to/*/page</li>
											<li>/path/*/other/*</li>
											<li>/path/*/other/*/</li>
											<li>http://www.example.com/</li>
											<li>http://www.example.com/*</li>
											<li>http://www.example.com/*/to/somewhere</li>
											<li>http://www.example.com/path/*/somewhere</li>
											<li>http://www.example.com/path/*/lead/*/somewhere</li>
											<li>http://www.example.com/path/*/*/somewhere</li>
											<li>http://www.example.com/path/to/*</li>
											<li>http://www.example.com/path/to/*/</li>
											<li>http://www.example.com/*/to/*/page</li>
											<li>http://www.example.com/path/*/other/*</li>
											<li>http://www.example.com/path/*/other/*/</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="show_onfrontpage" class="col-xs-6 control-label">Show on frontpage</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6 show_specific"
									name="show_onfrontpage" id="show_onfrontpage" value="1"
									{{(hierarchy[0].display_opts.show_onfrontpage)?'checked':''}} />
							</div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="show_oncategory" class="col-xs-6 control-label">Show on category pages</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6 show_specific"
									name="show_oncategory" id="show_oncategory" value="1"
									{{(hierarchy[0].display_opts.show_oncategory)?'checked':''}} />
							</div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="show_oncustom" class="col-sm-6 control-label">Show on pages:</label>
							<div class="col-sm-6 control-label">
								{% if hierarchy[0].display_opts.show_oncustom is empty %}
								<textarea class="form-control show_specific" name="show_oncustom" id="show_oncustom"
									cols="30" rows="10"></textarea>
								{% else %}
								<textarea class="form-control show_specific" name="show_oncustom" id="show_oncustom"
									cols="30"
									rows="10">{% for page in hierarchy[0].display_opts.show_oncustom %}{{page ~ '\r\n'}}{% endfor %}</textarea>
								{% endif %}
								<br>
								<div class="justify">
									Add URLs/paths to pages in which you would like to show the widget.<br>
									Put each URL/path in a new line. Paths should have a leading '/'.
									<br>
									<div class="tawk-tooltip">
										Examples of accepted path patterns
										<ul class="tawk-tooltiptext">
											<li>*</li>
											<li>*/to/somewhere</li>
											<li>/*/to/somewhere</li>
											<li>/path/*/somewhere</li>
											<li>/path/*/lead/*/somewhere</li>
											<li>/path/*/*/somewhere</li>
											<li>/path/to/*</li>
											<li>/path/to/*/</li>
											<li>*/to/*/page</li>
											<li>/*/to/*/page</li>
											<li>/path/*/other/*</li>
											<li>/path/*/other/*/</li>
											<li>http://www.example.com/</li>
											<li>http://www.example.com/*</li>
											<li>http://www.example.com/*/to/somewhere</li>
											<li>http://www.example.com/path/*/somewhere</li>
											<li>http://www.example.com/path/*/lead/*/somewhere</li>
											<li>http://www.example.com/path/*/*/somewhere</li>
											<li>http://www.example.com/path/to/*</li>
											<li>http://www.example.com/path/to/*/</li>
											<li>http://www.example.com/*/to/*/page</li>
											<li>http://www.example.com/path/*/other/*</li>
											<li>http://www.example.com/path/*/other/*/</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<br><br>
						<div class="col-lg-12">
							<div class="panel-heading"><strong>Privacy Settings</strong></div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="enable_visitor_recognition" class="col-xs-6 control-label">
								Enable Visitor Recognition
								<br>
								<span class="attrib_desc">Enable sending of customer details to tawk.to dashboard when
									the customer is logged in.</span>
							</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6" name="enable_visitor_recognition"
									id="enable_visitor_recognition" value="1"
									{{(hierarchy[0].privacy_opts.enable_visitor_recognition)?'checked':''}} />
							</div>
						</div>
						<br></br>
						<div class="col-lg-12">
							<div class="panel-heading"><strong>Security Settings</strong></div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="secure_mode_enabled" class="col-xs-6 control-label">
								Secure Mode Enabled
								<br>
								<span class="attrib_desc">If Secure Mode is enabled on your property, please enter your
									Javascript API Key to ensure visitor recognition works correctly.</span>
							</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6" name="secure_mode_enabled"
									id="secure_mode_enabled" value="1"
									{{(hierarchy[0].security_opts.secure_mode_enabled)?'checked':''}} />
							</div>
						</div>
						<div class="form-group col-lg-12 row">
							<label for="js_api_key" class="col-xs-6 control-label">
								Javascript API Key
								<br>
								<span class="attrib_desc">Ensure hash is generated for secure mode</span>
							</label>
							<div class="col-xs-6 control-label ">
								<input type="password" class="form-control" name="js_api_key"
									id="js_api_key" value="{{hierarchy[0].security_opts.js_api_key}}" />
							</div>
						</div>
						<br></br>
						<div class="col-lg-12">
							<div class="panel-heading"><strong>Cart	Integration</strong></div>
						</div>
						<div class="form-group col-xs-12 row">
							<label for="monitor_customer_cart" class="col-xs-6 control-label">
							Monitor	items added	to cart
							<br>
							<span class="attrib_desc">Enable sending of	product	details	to tawk.to dashboard when an item is added to cart.</span>
							</label>
							<div class="col-xs-6 control-label ">
								<input type="checkbox" class="control-label col-xs-6 " name="monitor_customer_cart"
									id="monitor_customer_cart" value="1"
									{{(hierarchy[0].cart_opts.monitor_customer_cart)?'checked':''}} />
							</div>
						</div>
						<div class="form-group col-lg-12" style="margin-bottom: 1rem;">
							<div class="col-lg-6 col-xs-12">
								<button type="submit" value="1" id="module_form_submit_btn" name="submitBlockCategories"
									class="btn btn-default pull-right"><i class="process-icon-save"></i> Save</button>
							</div>
							<div class="col-lg-6 col-xs-12">
								<div id="optionsSuccessMessage" class="alert alert-success col-lg-12">
									Successfully set widget options to your site
								</div>
								<div id="optionsErrorMessage" class="alert alert-danger col-lg-12">
									Failed to set widget options to your site
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var currentHost = window.location.protocol + '//' + window.location.host,
		baseUrl = '{{ base_url }}',
		storeHierarchy = {{ hierarchy | json_encode() }};

	jQuery('#tawkIframe').on('load', function () {
		jQuery('#loader').hide();
		jQuery(this).show();
	});

	// Reload iframe and options on store change
	jQuery('select[name="store_id"]').on('change', function () {
		displayWidget(this.value);

		for (store of storeHierarchy) {
			if (store.id !== this.value) {
				continue;
			}

			jQuery('input[name="always_display"]').prop('checked', store.display_opts.always_display);
			jQuery('input[name="show_onfrontpage"]').prop('checked', store.display_opts.show_onfrontpage);
			jQuery('input[name="show_oncategory"]').prop('checked', store.display_opts.show_oncategory);

			jQuery('input[name="enable_visitor_recognition"]').prop('checked', store.privacy_opts.enable_visitor_recognition);

			jQuery('input[name="monitor_customer_cart"]').prop('checked', store.cart_opts.monitor_customer_cart);

			jQuery('textarea[name="show_oncustom"]').val(store.display_opts.show_oncustom.join('\n'));
			jQuery('textarea[name="hide_oncustom"]').val(store.display_opts.hide_oncustom.join('\n'));

			if (store.display_opts.always_display) {
				jQuery('.hide_specific').prop('disabled', false);
				jQuery('.show_specific').prop('disabled', true);
			} else {
				jQuery('.hide_specific').prop('disabled', true);
				jQuery('.show_specific').prop('disabled', false);
			}
		}
	});

	// Loads iframe with saved widget settings
	function displayWidget(store_id = '0') {
		jQuery('#widget_already_set').hide();
		jQuery('#tawkIframe').hide();
		jQuery('#loader').show();

		var src = baseUrl + '/generic/widgets?';

		for (store of storeHierarchy) {
			if (store.id !== store_id) {
				continue;
			}

			if (store.current.widget_id) {
				src = src + '&currentWidgetId=' + store.current.widget_id;
			}
			if (store.current.page_id) {
				src = src + '&currentPageId=' + store.current.page_id;
			}
			if (store.current.user_id && store.current.user_id !== '{{ current_user }}') {
				jQuery('#widget_already_set').show();
			}
		}
		src = src + '&pltf=opencart&pltfv=4&parentDomain=' + currentHost;

		jQuery('#tawkIframe').attr('src', src);
	}

	window.addEventListener('message', function (e) {

		if (e.origin === baseUrl) {
			if (e.data.action === 'setWidget') {
				setTawkWidget(e);
			}

			if (e.data.action === 'removeWidget') {
				removeTawkWidget(e);
			}

			if (e.data.action === 'reloadHeight') {
				reloadIframeHeight(e.data.height);
			}
		}
	});

	function reloadIframeHeight(height) {
		if (!height) {
			return;
		}

		var iframe = jQuery('#tawkIframe');
		if (height === iframe.height()) {
			return;
		}

		iframe.height(height);
	}

	// Sets widget settings for selected store
	function setTawkWidget(e) {
		var store_id = jQuery('select[name="store_id"]').val();
		jQuery.post('{{url.set_widget_url}}', {
			pageId: e.data.pageId,
			widgetId: e.data.widgetId,
			store: store_id,
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'setDone' }, baseUrl);

				// Update saved widget settings
				for (store of storeHierarchy) {
					if (store.id === store_id) {
						store.current = {
							page_id: e.data.pageId,
							widget_id: e.data.widgetId
						}
					}
				}
			} else {
				e.source.postMessage({ action: 'setFail' }, baseUrl);
			}
		});
	}

	// Remove widget settings for selected store
	function removeTawkWidget(e) {
		var store_id = jQuery('select[name="store_id"]').val();
		jQuery.post('{{url.remove_widget_url}}', {
			store: store_id,
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'removeDone' }, baseUrl);

				for (store of storeHierarchy) {
					if (store.id === store_id) {
						store.current = {};
					}
				}
			} else {
				e.source.postMessage({ action: 'removeFail' }, baseUrl);
			}

		});
	}

	jQuery(document).ready(function () {
		// Init iframe
		displayWidget();

		if (jQuery("#always_display").prop("checked")) {
			jQuery('.show_specific').prop('disabled', true);
		} else {
			jQuery('.hide_specific').prop('disabled', true);
		}

		jQuery("#always_display").change(function () {
			if (this.checked) {
				jQuery('.hide_specific').prop('disabled', false);
				jQuery('.show_specific').prop('disabled', true);
			} else {
				jQuery('.hide_specific').prop('disabled', true);
				jQuery('.show_specific').prop('disabled', false);
			}
		});

		// process the form
		jQuery('#module_form').submit(function (event) {
			var store_id = jQuery('select[name="store_id"]').val();
			var form = jQuery(this);

			$path = '{{url.set_options_url}}';
			jQuery.post($path, {
				store: store_id,
				options: form.serialize(),
			}, function (r) {
				if (!r.success) {
					$('#optionsErrorMessage').text(r.message).toggle().delay(3000).fadeOut();
					return;
				}

				$('#optionsSuccessMessage').toggle().delay(3000).fadeOut();

				// Update saved options
				var fields = form.serializeArray();
				for (store of storeHierarchy) {
					if (store.id !== store_id) {
						continue;
					}

					store.display_opts = {
						'always_display': false,
						'show_onfrontpage': false,
						'show_oncategory': false,
						'show_oncustom': [],
						'hide_oncustom': [],
					};

					store.privacy_opts = {
						'enable_visitor_recognition': false,
					}

					store.cart_opts = {
						'monitor_customer_cart': false,
					}

					for (field of fields) {
						if (field.name === 'show_oncustom') {
							store.display_opts['show_oncustom'] = field.value.replaceAll('\r', '\n').split('\n').filter(Boolean);
							continue;
						}

						if (field.name === 'hide_oncustom') {
							store.display_opts['hide_oncustom'] = field.value.replaceAll('\r', '\n').split('\n').filter(Boolean);
							continue;
						}

						// serializeArray() only includes "successful controls"
						switch (field.name) {
							case 'always_display':
							case 'show_onfrontpage':
							case 'show_oncategory':
								store.display_opts[field.name] = true;
								break;

							case 'enable_visitor_recognition':
								store.privacy_opts[field.name] = true;
								break;

							case 'monitor_customer_cart':
								store.cart_opts[field.name] = true;
								break;
						}
					}
				}
			});

			// stop the form from submitting the normal way and refreshing the page
			event.preventDefault();
		});
	});
</script>
{{ footer }}
