{#
@package tawk.to Integration
@author tawk.to
@copyright (C) 2024 tawk.to
@license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}
{{ header }}
<link href="https://plugins.tawk.to/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">&nbsp;</div>
			<!-- <h1>{{ heading_title }}</h1> -->
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
			{% if false %}
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}"
					class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
						class="fa fa-reply"></i></a>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		{% if false %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module"
					class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="module_tawkto_status" id="input-status" class="form-control">
								{% if module_tawkto_status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<hr>
		{% endif %}

		<div class="box">
			<div class="heading">
				<h1><img src="../extension/tawkto/admin/view/image/module/tawky.png" alt="" /> {{ heading_title }}</h1>
			</div>

			<div class="box">
				{% if same_user == false %}
				<div id="widget_already_set" class="alert alert-warning">Notice: Widget already set by other user</div>
				{% endif %}
			</div>
			<div class="content" style="position: relative;">
				<div id="loader">
					<img src="../extension/tawkto/admin/view/image/module/loader.gif" alt="" />
				</div>

				<iframe id="tawkIframe" src=""></iframe>
				<input type="hidden" class="hidden widget_vars" name="page_id"
					value="{{ (widget_config.page_id is null)?0:widget_config.page_id}}">
				<input type="hidden" class="hidden widget_vars" name="widget_id"
					value="{{ (widget_config.widget_id is null)?0:widget_config.widget_id}}">
				<input type="hidden" class="hidden widget_vars" name="store_id" value="{{store_id}}">
				<input type="hidden" class="hidden widget_vars" name="store_layout_id" value="{{store_layout_id}}">
			</div>
		</div>
	</div>
</div>
<script>
	var currentHost = window.location.protocol + '//' + window.location.host,
		url = '{{ iframe_url }}&pltf=opencart&pltfv=3&parentDomain=' + currentHost,
		baseUrl = '{{ base_url }}',
		storeHierarchy = {{ hierarchy | json_encode() }};

	jQuery('#tawkIframe').attr('src', url);
	jQuery('#tawkIframe').on('load', function () {
		$('#loader').hide();
		$(this).show();
	});
	var iframe = jQuery('#tawk_widget_customization')[0];

	window.addEventListener('message', function (e) {

		if (e.origin === baseUrl) {
			if (e.data.action === 'setWidget') {
				setTawkWidget(e);
			}

			if (e.data.action === 'removeWidget') {
				removeTawkWidget(e);
			}

			if (e.data.action === 'getIdValues') {
				e.source.postMessage({ action: 'idValues', values: storeHierarchy }, baseUrl);
			}

			if (e.data.action === 'reloadHeight') {
				reloadIframeHeight(e.data.height);
			}
		}
	});

	function reloadIframeHeight(height) {
		if (!height) {
			return;
		}

		var iframe = jQuery('#tawkIframe');
		if (height === iframe.height()) {
			return;
		}

		iframe.height(height);
	}

	function setTawkWidget(e) {
		var store_layout = e.data.id;
		jQuery.post('{{url.set_widget_url}}', {
			pageId: e.data.pageId,
			widgetId: e.data.widgetId,
			id: e.data.id,
			store: parseInt(store_layout),
			store_layout: e.data.id
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'setDone' }, baseUrl);

				jQuery('input[name="page_id"]').val(e.data.pageId);
				jQuery('input[name="widget_id"]').val(e.data.widgetId);
				var newval = parseInt(store_layout);
				jQuery('input[name="store_id"]').val(newval);
				jQuery('input[name="store_layout_id"]').val(e.data.id);
			} else {
				e.source.postMessage({ action: 'setFail' }, baseUrl);
			}
		});
	}

	function removeTawkWidget(e) {
		var store_layout = e.data.id;
		jQuery.post('{{url.remove_widget_url}}', {
			id: e.data.id,
			store: parseInt(store_layout),
			store_layout: e.data.id,
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'removeDone' }, baseUrl);

				jQuery('.widget_vars').val();
			} else {
				e.source.postMessage({ action: 'removeFail' }, baseUrl);
			}

		});
	}
</script>
{{ footer }}