{#
@package tawk.to Integration
@author tawk.to
@copyright (C) 2024 tawk.to
@license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
#}
{{ header }}
<link href="https://plugins.tawk.to/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{{ column_left }}

<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">&nbsp;</div>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}

		<div class="box">
			<div class="heading">
				<h1><img src="../extension/tawkto/admin/view/image/module/tawky.png" alt="" /> {{ heading_title }}</h1>
			</div>

			<div class="box">
				{% if same_user == false %}
				<div id="widget_already_set" class="alert alert-warning">Notice: Widget already set by other user</div>
				{% endif %}
			</div>
			<div class="content" style="position: relative;">
				<div id="loader">
					<img src="../extension/tawkto/admin/view/image/module/loader.gif" alt="" />
				</div>

				<iframe id="tawkIframe" src=""></iframe>
				<input type="hidden" class="hidden widget_vars" name="page_id"
					value="{{ (widget_config.pageId is null)?0:widget_config.pageId}}">
				<input type="hidden" class="hidden widget_vars" name="widget_id"
					value="{{ (widget_config.widgetId is null)?0:widget_config.widgetId}}">
				<input type="hidden" class="hidden widget_vars" name="store_id" value="{{store_id}}">
			</div>
		</div>
	</div>
</div>
<script>
	var currentHost = window.location.protocol + '//' + window.location.host,
		url = '{{ iframe_url }}&pltf=opencart&pltfv=3&parentDomain=' + currentHost,
		baseUrl = '{{ base_url }}',
		storeHierarchy = {{ hierarchy | json_encode() }};

	jQuery('#tawkIframe').attr('src', url);
	jQuery('#tawkIframe').on('load', function () {
		$('#loader').hide();
		$(this).show();
	});
	var iframe = jQuery('#tawk_widget_customization')[0];

	window.addEventListener('message', function (e) {

		if (e.origin === baseUrl) {
			if (e.data.action === 'setWidget') {
				setTawkWidget(e);
			}

			if (e.data.action === 'removeWidget') {
				removeTawkWidget(e);
			}

			if (e.data.action === 'getIdValues') {
				e.source.postMessage({ action: 'idValues', values: storeHierarchy }, baseUrl);
			}

			if (e.data.action === 'reloadHeight') {
				reloadIframeHeight(e.data.height);
			}

			if (e.data.action === 'changeStore') {
				changeStore(e.data.id);
			}
		}
	});

	function changeStore(id) {
		jQuery.post('{{url.change_store_url}}', {
			store: id,
		}, function (r) {
			if (r.success) {
				jQuery('input[name="page_id"]').val(r.pageId);
				jQuery('input[name="widget_id"]').val(r.widgetId);
				jQuery('input[name="store_id"]').val(id);
			}
		});
	}

	function reloadIframeHeight(height) {
		if (!height) {
			return;
		}

		var iframe = jQuery('#tawkIframe');
		if (height === iframe.height()) {
			return;
		}

		iframe.height(height);
	}

	function setTawkWidget(e) {
		jQuery.post('{{url.set_widget_url}}', {
			pageId: e.data.pageId,
			widgetId: e.data.widgetId,
			store: e.data.id,
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'setDone' }, baseUrl);

				jQuery('input[name="page_id"]').val(e.data.pageId);
				jQuery('input[name="widget_id"]').val(e.data.widgetId);
				jQuery('input[name="store_id"]').val(e.data.id);
			} else {
				e.source.postMessage({ action: 'setFail' }, baseUrl);
			}
		});
	}

	function removeTawkWidget(e) {
		jQuery.post('{{url.remove_widget_url}}', {
			id: e.data.id,
			store: e.data.id,
		}, function (r) {
			if (r.success) {
				e.source.postMessage({ action: 'removeDone' }, baseUrl);

				jQuery('.widget_vars').val();
			} else {
				e.source.postMessage({ action: 'removeFail' }, baseUrl);
			}

		});
	}
</script>
{{ footer }}